# Welcome to my Jupyter
                            Athani Analytics...

## Group_by

In [1]:
import pandas as pd,numpy as np,os

In [2]:
os.chdir('C:/Users/Manjunath/Desktop/Raw_Data')

In [7]:
fortune=pd.read_csv("fortune1000.csv",index_col="Rank")
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [10]:
sector=fortune.groupby(by="Sector")

In [11]:
type(sector)

pandas.core.groupby.generic.DataFrameGroupBy

## The .groupby() Method

In [13]:
fortune=pd.read_csv("fortune1000.csv",index_col="Rank")
sector=fortune.groupby(by="Sector")
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [14]:
len(sector)

21

In [15]:
len(fortune)

1000

In [16]:
sector.size() # unqui valuse in the series

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [19]:
fortune['Sector'].value_counts() # it gice the value in descending order

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Apparel                          15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [23]:
sector.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [22]:
sector.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

## Retrive A Group with the .get_group( ) Method

In [27]:
fortune[fortune["Sector"]=="Media"] # its filter method but we can done it by groupby?

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
96,Twenty-First Century Fox,Media,Entertainment,"New York, NY",28987,8306,20500
99,Time Warner,Media,Entertainment,"New York, NY",28118,3833,24800
203,CBS,Media,Entertainment,"New York, NY",13886,1413,19080
213,Viacom,Media,Entertainment,"New York, NY",13268,1922,9445
255,R.R. Donnelley & Sons,Media,"Publishing, Printing","Chicago, IL",11257,151,68400
327,News Corp.,Media,"Publishing, Printing","New York, NY",8633,-147,25000
366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246,-33,12200
406,Discovery Communications,Media,Entertainment,"Silver Spring, MD",6394,1034,7000
414,iHeartMedia,Media,Entertainment,"San Antonio, TX",6242,-755,18700
525,Liberty Media,Media,Entertainment,"Englewood, CO",4795,64,3503
530,Quad/Graphics,Media,"Publishing, Printing","Sussex, WI",4678,-642,22500
681,TEGNA,Media,Entertainment,"McLean, VA",3242,460,10020
705,Regal Entertainment Group,Media,Entertainment,"Knoxville, TN",3127,153,25915
707,Time,Media,"Publishing, Printing","New York, NY",3103,-881,7200
722,Scripps Networks Interactive,Media,Entertainment,"Knoxville, TN",3018,607,3500
741,Warner Music Group,Media,Entertainment,"New York, NY",2966,-91,4211
752,Gannett,Media,"Publishing, Printing","McLean, VA",2885,146,18700
759,Univision Communications,Media,Entertainment,"New York, NY",2858,-45,3700
762,Cinemark Holdings,Media,Entertainment,"Plano, TX",2853,217,17649
821,AMC Networks,Media,Entertainment,"New York, NY",2581,367,2341
913,Sinclair Broadcast Group,Media,Entertainment,"Hunt Valley, MD",2219,172,8000
968,American Greetings,Media,"Publishing, Printing","Cleveland, OH",2011,65,17650
969,Tribune Media,Media,Entertainment,"Chicago, IL",2011,-320,8000
989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300

In [30]:
sector=fortune.groupby("Sector")
sector.get_group("Media")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
96,Twenty-First Century Fox,Media,Entertainment,"New York, NY",28987,8306,20500
99,Time Warner,Media,Entertainment,"New York, NY",28118,3833,24800
203,CBS,Media,Entertainment,"New York, NY",13886,1413,19080
213,Viacom,Media,Entertainment,"New York, NY",13268,1922,9445
255,R.R. Donnelley & Sons,Media,"Publishing, Printing","Chicago, IL",11257,151,68400
327,News Corp.,Media,"Publishing, Printing","New York, NY",8633,-147,25000
366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246,-33,12200
406,Discovery Communications,Media,Entertainment,"Silver Spring, MD",6394,1034,7000
414,iHeartMedia,Media,Entertainment,"San Antonio, TX",6242,-755,18700
525,Liberty Media,Media,Entertainment,"Englewood, CO",4795,64,3503
530,Quad/Graphics,Media,"Publishing, Printing","Sussex, WI",4678,-642,22500
681,TEGNA,Media,Entertainment,"McLean, VA",3242,460,10020
705,Regal Entertainment Group,Media,Entertainment,"Knoxville, TN",3127,153,25915
707,Time,Media,"Publishing, Printing","New York, NY",3103,-881,7200
722,Scripps Networks Interactive,Media,Entertainment,"Knoxville, TN",3018,607,3500
741,Warner Music Group,Media,Entertainment,"New York, NY",2966,-91,4211
752,Gannett,Media,"Publishing, Printing","McLean, VA",2885,146,18700
759,Univision Communications,Media,Entertainment,"New York, NY",2858,-45,3700
762,Cinemark Holdings,Media,Entertainment,"Plano, TX",2853,217,17649
821,AMC Networks,Media,Entertainment,"New York, NY",2581,367,2341
913,Sinclair Broadcast Group,Media,Entertainment,"Hunt Valley, MD",2219,172,8000
968,American Greetings,Media,"Publishing, Printing","Cleveland, OH",2011,65,17650
969,Tribune Media,Media,Entertainment,"Chicago, IL",2011,-320,8000
989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300

In [34]:
sector.get_group("Energy")
sector.get_group("Technology")
sector.get_group("Apparel")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

## Methods on the Groupby object and DataFrame Columns

In [41]:
sector.max() # it will look the left most column in the DataFrame and Sort it Alphabetically 
             # Max() method give in from descending order

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [42]:
sector.min() # it will look the left most column in the DataFrame and Sort it Alphabetically 
             # Max() method give in from ascending order

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",Bloomin’ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

In [43]:
sector.sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [44]:
sector.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [67]:
sector["Revenue"].sum()
sector["Employees"].sum()
sector["Profits"].max()
sector["Profits"].min()
sector["Employees"].mean()

sector[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

## Grouping by Multiple Columns

In [69]:
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [75]:
sector=fortune.groupby(["Sector","Industry"])
sector

In [76]:
sector.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [83]:
sector.sum()
sector["Revenue"].sum()
sector["Employees"].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            48402.850000
Apparel              Apparel                                          23093.133333
Business Services    Advertising, marketing                           62050.000000
                     Diversified Outsourcing Services                 50595.000000
                     Education                                        15585.000000
                                                                          ...
Transportation       Trucking, Truck Leasing                          18939.555556
Wholesalers          Miscellaneous                                     9200.000000
                     Wholesalers: Diversified                          9353.240000
                     Wholesalers: Electronics and Office Equipment    20832.625000
                     Wholesalers: Food and Grocery                    19317.500000
Name: Employees, Length: 79, dtype: float64

## The .agg( ) Method

In [85]:
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [94]:
sector=fortune.groupby("Sector")

In [93]:
fortune.groupby("Sector").agg({"Revenue":"sum","Profits":"mean",'Employees':"sum"})

                              Revenue      Profits  Employees
Sector
Aerospace & Defense            357940  1437.100000     968057
Apparel                         95968   549.066667     346397
Business Services              272195   553.470588    1361050
Chemicals                      243897   754.266667     463651
Energy                        1517809  -602.024590    1188927
Engineering & Construction     153983   204.000000     406708
Financials                    2217159  1872.007194    3359948
Food and Drug Stores           483769  1117.266667    1395398
Food, Beverages & Tobacco      555967  1195.744186    1211632
Health Care                   1614707  1414.853333    2678289
Hotels, Resturants & Leisure   169546   827.880000    2484245
Household Products             234737   515.285714     646038
Industrials                    497581   451.391304    1545229
Materials                      259145   102.976744     638123
Media                          220764   973.880000     550314
Motor Vehicles & Parts         482540  1079.083333    1082560
Retailing                     1465076   597.875000    6227629
Technology                    1377600  1769.343137    3578949
Telecommunications             461834  3242.466667     832468
Transportation                 408508  1226.916667    1536793
Wholesalers                    444800   205.825000     525597

In [97]:
sector.agg(["sum",'mean',"size"])

C:\Users\Manjunath\AppData\Local\Temp\ipykernel_7248\955453499.py:1: FutureWarning: ['Company', 'Industry', 'Location'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  sector.agg(["sum",'mean',"size"])

                              Revenue                    Profits               \
                                  sum          mean size     sum         mean
Sector
Aerospace & Defense            357940  17897.000000   20   28742  1437.100000
Apparel                         95968   6397.866667   15    8236   549.066667
Business Services              272195   5337.156863   51   28227   553.470588
Chemicals                      243897   8129.900000   30   22628   754.266667
Energy                        1517809  12441.057377  122  -73447  -602.024590
Engineering & Construction     153983   5922.423077   26    5304   204.000000
Financials                    2217159  15950.784173  139  260209  1872.007194
Food and Drug Stores           483769  32251.266667   15   16759  1117.266667
Food, Beverages & Tobacco      555967  12929.465116   43   51417  1195.744186
Health Care                   1614707  21529.426667   75  106114  1414.853333
Hotels, Resturants & Leisure   169546   6781.840000   25   20697   827.880000
Household Products             234737   8383.464286   28   14428   515.285714
Industrials                    497581  10816.978261   46   20764   451.391304
Materials                      259145   6026.627907   43    4428   102.976744
Media                          220764   8830.560000   25   24347   973.880000
Motor Vehicles & Parts         482540  20105.833333   24   25898  1079.083333
Retailing                     1465076  18313.450000   80   47830   597.875000
Technology                    1377600  13505.882353  102  180473  1769.343137
Telecommunications             461834  30788.933333   15   48637  3242.466667
Transportation                 408508  11347.444444   36   44169  1226.916667
Wholesalers                    444800  11120.000000   40    8233   205.825000

                                  Employees
                             size       sum          mean size
Sector
Aerospace & Defense            20    968057  48402.850000   20
Apparel                        15    346397  23093.133333   15
Business Services              51   1361050  26687.254902   51
Chemicals                      30    463651  15455.033333   30
Energy                        122   1188927   9745.303279  122
Engineering & Construction     26    406708  15642.615385   26
Financials                    139   3359948  24172.287770  139
Food and Drug Stores           15   1395398  93026.533333   15
Food, Beverages & Tobacco      43   1211632  28177.488372   43
Health Care                    75   2678289  35710.520000   75
Hotels, Resturants & Leisure   25   2484245  99369.800000   25
Household Products             28    646038  23072.785714   28
Industrials                    46   1545229  33591.934783   46
Materials                      43    638123  14840.069767   43
Media                          25    550314  22012.560000   25
Motor Vehicles & Parts         24   1082560  45106.666667   24
Retailing                      80   6227629  77845.362500   80
Technology                    102   3578949  35087.735294  102
Telecommunications             15    832468  55497.866667   15
Transportation                 36   1536793  42688.694444   36
Wholesalers                    40    525597  13139.925000   40

In [100]:
fortune.groupby("Sector").agg({"Revenue":["sum","mean"],
                               "Profits":["mean","sum"],
                               'Employees':"sum"})

                              Revenue                    Profits          \
                                  sum          mean         mean     sum
Sector
Aerospace & Defense            357940  17897.000000  1437.100000   28742
Apparel                         95968   6397.866667   549.066667    8236
Business Services              272195   5337.156863   553.470588   28227
Chemicals                      243897   8129.900000   754.266667   22628
Energy                        1517809  12441.057377  -602.024590  -73447
Engineering & Construction     153983   5922.423077   204.000000    5304
Financials                    2217159  15950.784173  1872.007194  260209
Food and Drug Stores           483769  32251.266667  1117.266667   16759
Food, Beverages & Tobacco      555967  12929.465116  1195.744186   51417
Health Care                   1614707  21529.426667  1414.853333  106114
Hotels, Resturants & Leisure   169546   6781.840000   827.880000   20697
Household Products             234737   8383.464286   515.285714   14428
Industrials                    497581  10816.978261   451.391304   20764
Materials                      259145   6026.627907   102.976744    4428
Media                          220764   8830.560000   973.880000   24347
Motor Vehicles & Parts         482540  20105.833333  1079.083333   25898
Retailing                     1465076  18313.450000   597.875000   47830
Technology                    1377600  13505.882353  1769.343137  180473
Telecommunications             461834  30788.933333  3242.466667   48637
Transportation                 408508  11347.444444  1226.916667   44169
Wholesalers                    444800  11120.000000   205.825000    8233

                             Employees
                                   sum
Sector
Aerospace & Defense             968057
Apparel                         346397
Business Services              1361050
Chemicals                       463651
Energy                         1188927
Engineering & Construction      406708
Financials                     3359948
Food and Drug Stores           1395398
Food, Beverages & Tobacco      1211632
Health Care                    2678289
Hotels, Resturants & Leisure   2484245
Household Products              646038
Industrials                    1545229
Materials                       638123
Media                           550314
Motor Vehicles & Parts         1082560
Retailing                      6227629
Technology                     3578949
Telecommunications              832468
Transportation                 1536793
Wholesalers                     525597